###
### RexSEO Addon htaccess file
###
### @link https://github.com/gn2netwerk/rexseo
###
### @author dh[at]gn2-netwerk[dot]de Dave Holloway
### @author code[at]rexdev[dot]de jdlx
###
### Based on url_rewrite Addon by
### @author markus.staab[at]redaxo[dot]de Markus Staab
###
### @package redaxo 4.3.x/4.4.x
### @version 1.5.3
###


<IfModule mod_rewrite.c>

# Disable rewriting
RewriteEngine Off

</IfModule>
